@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
@{
		var memberService = ApplicationContext.Current.Services.MemberService;
		var members = memberService.GetMembersByGroup("Active");
}

	
<h3>Active Members</h3>

	@foreach (var member in members) { 
		
		if(member.GetValue("photo") != null){
        string image = member.GetValue<string>("photo");
        ImageCropDataSet imageCrops = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
        string imagePath = imageCrops.Src.GetCropUrl();
        <img src="@imagePath" /><br/>
    }
		
		<p>
  	@member.GetValue("firstname")
    @member.GetValue("lastname")) <br>
	@member.GetValue("address")<br> @member.GetValue("zip") @member.GetValue("city")) <br> Email: @member.Email<br>
	Skills: @{
String[] skills = member.GetValue("skills").ToString().Split(',');
string skillString =
string.Join(", ", from skill in skills
select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
  <span>@skillString</span>
}
</p>
	 
		
}

